# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex
_tflow_select
absl-py
astor
blas
bzip2
c-ares
ca-certificates
cairo
certifi
cudatoolkit
cudnn=7.6.5
cupti
dbus
expat
ffmpeg
fontconfig
freetype
gast
gettext
giflib
glib
gmp
gnutls
google-pasta
graphite2
grpcio
gst-plugins-base
gstreamer
h5py
harfbuzz
hdf5
icu
jasper
jpeg
keras-applications
keras-preprocessing
lame
ld_impl_linux-64
libblas
libcblas
libclang
libedit
libffi
libgcc-ng
libgfortran-ng
libiconv
liblapack
liblapacke
libllvm9
libopenblas
libpng
libprotobuf
libstdcxx-ng
libtiff
libuuid
libwebp
libxcb
libxkbcommon
libxml2
lz4-c
markdown
ncurses
nettle
nspr
nss
numpy=1.18.1
opencv=4.1
openh264
openssl
pcre
pip
pixman
protobuf
pthread-stubs
python=3.8
python_abi
qt
readline
scipy
setuptools
six
sqlite
tensorboard
tensorflow
tensorflow-base
tensorflow-estimator
tensorflow-gpu
termcolor
tk
werkzeug
wheel
wrapt
x264
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxrender
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
zlib
zstd
yacs

